<div class="container">
  <div class="row">
    <div class="col-sm-offset-1 col-sm-10">

    <div class="page-header">
      <h1>
        My Dashboard
        <a href="/show_all" class="btn btn-lg btn-success">View Referral Details</a>

      </h1>
    </div>
  </div>
</div>

  <div class="row">
    <div class="col-sm-offset-1 col-sm-10">
      <!-- logged in user can see their referrals by day or week -->
      <h2>
        My referrals by day
      </h2>

      <%= line_chart @referral_by_day_hash, xtitle: "Day", ytitle: "New Users Referred" %>
    </div>
  </div>
  <div class="row">
    <div class="col-sm-offset-1 col-sm-10">
      <!-- logged in user can see their referrals by school -->

      <h2>
        My referrals by school
      </h2>

      <%= pie_chart @school_count_hash %>
    </div>
  </div>
  <div class="row">
    <div class="col-sm-offset-1 col-sm-10">

      <!-- add table, chart or large button that shows user their # of referrals at the school vs. total undergrad population and % -->
      <!-- <h2>
        My progress at University of Michigan
      </h2>

      <%= @referrals.count.to_f / 100.to_f %>% -->

    </div>
  </div>
</div>
