<!-- Validation failure messages -->
<% if @referral.errors.any? %>
  <% @referral.errors.full_messages.each do |message| %>
    <div class="alert alert-dismissable alert-danger">
      <button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
      <%= message %>
    </div>
  <% end %>
<% end %>

<div class="page-header">
  <h3>Add Referral</h3>
</div>

<div class="row">
  <div class="col-md-12">
    <form action="/create_referral" method="post">
      <!-- Hidden input for authenticity token to protect from forgery -->
      <input name="authenticity_token" type="hidden" value="<%= form_authenticity_token %>">

      <!-- Label and input for referrer_id -->
      <div class="form-group">
        <label for="referrer_id" class="control-label">
          Referrer
        </label>

        <%= select_tag(:referrer_id, options_from_collection_for_select(User.all, :id, :created_at, @referral.referrer_id), :class => "form-control") %>
      </div>

      <!-- Label and input for school_id -->
      <div class="form-group">
        <label for="school_id" class="control-label">
          School
        </label>

        <%= select_tag(:school_id, options_from_collection_for_select(School.all, :id, :school_name, @referral.school_id), :class => "form-control") %>
      </div>

      <button class="btn btn-success">
        Create Referral
      </button>
      or
      <a href="/referrals">Cancel</a>
    </form>
  </div>
</div>
