<a href="/" class="btn btn-lg btn-warning">Back to My Dashboard</a>

<div class="page-header">
  <h1>
    My Referrals - Details
  </h1>
</div>

<div class="row">
  <div class="col-md-12">
    <table class="table table-striped table-hover">
      <tr>
        <th>Email</th>
        <th>Accepted On</th>
        <th>School</th>
      </tr>

      <% if @referrals.size > 0 %>
        <% @referrals.each do |referral| %>
        <tr>
          <td><%= referral.invited_user_email %></td>
          <td><%= referral.accepted_at.to_datetime.strftime("%m/%d/%Y") %></td>
          <td><%= referral.current_school ? referral.current_school[:name] : "N/A"  %></td>
        </tr>
        <% end %>
      <% else %>
        <tr>
          <td>No referrals</td>
        </tr>
      <% end %>

    </table>
  </div>
</div>
